@charset "utf-8";
/* CSS Document */
/*css重置*/
body,dl,dd,ul,li{margin:0;border:none;list-style:none;padding:0;}
a{text-decoration:none;}
*{color:#666;font-size:12px;}
img{border:none;display:block;}
input{border:none;margin:0;padding:0;} 
/*top*/
.top{width:960px;margin:auto;margin-top:20px;}
.top img{width:393px;heigth:71px;}
/*nav*/
.nav_box{background-image:url(../image/nav_bg.jpg);display:block;margin:auto;width:100%;
height:40px;margin-top:20px;}
.nav{width:960px;height:40px;margin:auto;overflow:hidden;}
.nav a{width:119px;line-height:37px;font-size:14px;font-family:"微软雅黑";text-align:center;
color:#7b7e8f;display:block;float:left;}
.nav img{float:left;width:1px;height:30px;margin-top:6px;}
.nav .current{border-bottom:3px solid #1abc9c;color:white;}
/*foot*/
.foot_box{height:auto;margin:auto;margin-top:30px;}
.footnav{width:960px;margin:auto;overflow:hidden;}
.footnav a{float:left;display:block;color:#666666;font-size:14px;font-family:"微软雅黑";
width:80px;line-height:15px;text-align:center;border-right:1px solid #666;}
.dz{width:950px;margin:auto;overflow:hidden;margin-top:20px;}
.dz h{float:left;color:#666666;font-size:12px;font-family:"宋体";line-height:24px;}
.dz span{float:right;}
.dz span img{width:86px;height:86px;}
.dz span a{display:block;color:#666;font-size:12px;font-family:"微软雅黑";line-height:24px;width:86px;
text-align:center;}
.copyright{width:100%;height:70px;background-color:#121214;}
.copyright span{display:block;margin:auto;width:960px;height:70px;line-height:70px;
text-align:center;color:#b2b2b2;}